@import "../../vars.css";

.Projects {
    width: 100%;
    height: fit-content;

    color: var(--color-text);


    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    border-bottom: 1px solid #E5D9D6;
}

@media (max-width: 900px) {
    .Projects {
        grid-template-columns: 1fr;
    }
}