@import "../../../vars.css";

.Section {

    padding: 40px 80px ;
    margin: auto;
    max-width: 1500px;
    
}

.Details {
    color: var(--color-text);

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    gap: clamp(24px, 5vw, 80px);
}

.column {
    gap: 4px;
    display: flex;
    flex-direction: column;
    max-width: 400px;

}

.column p {
    font-size: 16px;
}

.category {
    color: var(--color-accent);
    
}

@media screen and (max-width: 650px) {

    .Section {
        padding: 0 40px;
        padding-bottom: 40px;
    }

    .Details {
        gap: 20px;
        flex-wrap: wrap;
    }


}

