@import "../../../vars.css";

.Section {
    display: flex;
    justify-content: center;
    padding: 0 100px;

    margin: auto;

    max-width: 1000px;

    
}

.Details {
    display: flex;
    gap: 8vw;
    flex-direction: row;
    padding-bottom: 50px;
    font-size: 20px;
    color: var(--color-text-light);
}

.column {
    gap: 4px;
    display: flex;
    flex-direction: column;
    max-width: 180px;
}

.category {
    font-weight: 800;
    color: var(--color-text);
}

@media screen and (max-width: 650px) {
    .Details {
        gap: 5vw;
    }
}

