@import "../../vars.css";

.container {
    width: 100%;
    max-width: 960px;
    min-width: fit-content;

    background: white;
    color: var(--color-text);
    align-self: center;

    border-radius: 28px;
    border: 1.5px solid #6a6a6a;
    box-shadow: 1px 2px 0px 0px rgb(151, 151, 151);
    transition: 0.3s;
    margin:auto;
}

.container:hover {
    background: rgb(245, 245, 245);
    box-shadow: 5px 5px 0px 0px rgb(151, 151, 151);
}

.items {
    padding: 40px;

}


h2 {
    color: var(--color-header);
}


.img {
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 4%;
    padding-bottom: 40px;
    width: 100%;
    max-height: 328px;
    max-width: 500px;
    min-width: 200px;
}