@import "../../vars.css";

.container {
    width: 100%;

    color: var(--color-text);

    position: relative;
    display: flex;

    border-top: 1px solid #E5D9D6;

    background-color: white; /* or transparent */
    overflow: hidden;

    justify-content: center;
    padding: 48px;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--hover-img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 0;
}

.container:hover::before {
    opacity: 1;
}

.container.active::before {
    opacity: 1;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    flex: 1 0 0;

    position: relative;
    z-index: 1;

    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.items h2 {
    font-weight: 500;
}

.text {
    display: flex;
    align-items: center;
    gap: 24px;

    flex: 0 0 470px; /* total text column width */
}

.desc {
   font-size: 18px;
   flex: .3 0 0;
   min-width: 160px;
}

.items h2 {
    max-width: 300px;
    flex: 1 0 1;
    color: var(--color-header);
}

.img {
    object-fit: scale-down;
    display: block;

    flex: 1;
    flex: 2 0 0;


    width: 100%;

    max-width: 500px;
    min-width: 200px;

}

@media (max-width: 650px) {
    .items {
      flex-direction: column;
      align-items: flex-start;
    }

  }