@import "../../vars.css";

.container {
    width: 100%;
    height: 100%;
    max-width: 960px;
    min-width: fit-content;

    background: white;
    color: var(--color-text);
    align-self: center;

    border-radius: 28px;
    border: 1.5px solid #d7d7d7;
    transition: 0.3s;
    margin:auto;
}

.container:hover {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    border: 1.5px solid #989898;
}

.items {
    padding: 43px;

}

h1 {
    padding-top: 15px;
    font-size: 28px;
}

p {
    font-size: 19px;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 5%;
    width: 100%;
    height: 100%;
    max-width: 600px;
    min-width: 200px;
}