.content {
    display: flex;

    justify-content: space-between;
    align-self: stretch;

    max-width: 1200px;
    flex-direction: column;
    gap: 32px;
}

.header {
    font-weight: 500;
    font-size: 22px;
    color: var(--color-text);
}

.imgtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 80px;
    max-width: 1200px;


}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    flex: 1 0 0;
    
}

.image {
    object-fit: scale-down;
    width: 40vw;
    max-width: 400px;
    max-height: 500px;

    flex-shrink: 1;
}

.caption {
    padding-top: 8px;
    font-style: italic;
    font-size: 12px;
}



.imgcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    flex-shrink: 1;
 
}


@media (max-width: 1200px) {

}

@media (max-width: 700px) {

    .image {
    object-fit: scale-down;
    width: 60vw;
    max-width: 300px;

    flex-shrink: 1;
}

.imgtext {
    flex-direction: column;
    gap: 40px;
}   

    .textContainer {
        min-width: 100%;
        width: auto;
    }

    .content {
        flex-direction: column-reverse;
        gap: 40px;
    }
}