@import "../../vars.css";

.ProjectTitle {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}



.link {
    font-size: 18px;
    padding-right: 10px;
    color: var(--color-text-light);
}

.bold {
    font-weight: 1000;
    color: var(--color-text);
    
}

