@import "../../vars.css";


.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.block {
    padding-bottom: 60px;
}

@media (max-width: 700px) {
    .block {
        padding-bottom: 20px;
    }

    .content {
        gap: 28px;
        padding-bottom: 20px;
    } 
}


p {
    font-style: normal;
    font-weight: 200;
    line-height: 1.3;
}


.details {
    font-size: 16px;
}
a {
    color: var(--color-accent);
}


.link {
    font-size: 18px;
    padding-right: 10px;
    color: var(--color-text-light);
}

.bold {
    font-weight: 1000;
    color: var(--color-text);
    
}



.construction {
    text-align: center;
    padding:  20px 0;
}


.phones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;              
}

.phones img {
    width: 25vw;
    max-width: 300px;
    min-width: 175px;
    object-fit: scale-down;

}

.wrapper {
    margin: auto;
    display: block;
    align-content: center;
}

.sitemap img {
    width: 80vw;
    max-width: 800px;
    display: flex;
    justify-content: center;
}


