@import "../../../vars.css";

.content {
    max-width: 1500px;
    padding: 40px 80px 0 80px ;
    margin: auto;
    
    flex-direction: row;

    display: flex;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    line-height: normal;
}


.desc a {
    color: var(--color-accent);
}

h2 {
    min-width: 118px;
    font-size: 24px;
    font-weight: 400;

}

.desc {
    color: var(--color-text);
}


@media screen and (max-width: 650px) {
    .content {
        padding: 40px;
        flex-direction: column;
        gap: 20px;
    }
}