@import "../../../vars.css";

.link {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text-light);
}

.content {
    max-width: 1200px;
    padding: 32px 60px;
    margin: auto;
    
    flex-direction: row;

    display: flex;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;
    line-height: normal;
}


h2 {
    min-width: 118px;
    font-size: 24px;
    font-weight: 600;

}


@media screen and (max-width: 650px) {
    .content {
        padding: 40px;
        flex-direction: column;
        gap: 20px;
    }
}