@import "../../vars.css";

.name, .desc {
    font-weight: 400;
}

.container {
    background: url("/public/assets/bg.png");
    background-position: right bottom;
    background-size:cover;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    
    height: 478px;
}

.content {
    color: var(--color-text);

    z-index: 100;
    padding: 0 80px;
    text-align: left;

    max-width: 1200px;
}

.desc {
    color: var(--color-text);
    font-size: 32px;
    line-height: 42px;
    margin: 36px 0 36px 0;

}

.subdesc {
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.name {
    font-size: 32px;
    max-width: max-content;
    
    overflow: hidden; 
    border-right: 2px solid #767c80; 
    white-space: nowrap; 
    margin: none; 


    animation: 
    typing 3s steps(35, end),
    blink-caret .75s step-end infinite;  
    
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(149, 160, 172); }
}

@media (max-width: 1000px) {
    .desc, .name {
        font-size: 28px;
        line-height: 36px; 
    }

    .content {
        padding: 0 50px;
    }

    .subdesc {
        font-size: 24px;
    }
}

@media (max-width: 600px) {

    .container {
        height:  550px;
    }

    .content {
        padding: 0 50px;
    }

    .desc {
      font-size: 28px;
      line-height: 38px;
      margin: 24px 0; 
    }
  
    .name {
      font-size: 28px;
    }

    .subdesc {
        font-size: 20px;
    }
  }

