@import "../../vars.css";

.Footer {
    color: var(--color-text);
    position: relative;
    display: flex;
    z-index: 2;
    padding: 40px 100px;
    justify-content: space-between;

    align-items: center;
}

.Socials {
    margin-right: -20;
    display: flex;
    gap: 45px;
    list-style: none;
}

.Socials a {
    color: var(--color-text);
    font-size: 15px;
}

.Name {
    font-size: 15px;
}

.bottom {
    color: var(--color-text);
    font-size: 15px;
    display: flex;
    justify-content: center;
    background: rgb(231, 231, 231);
    padding: 20px;

    border-top: 2px solid rgb(174, 174, 174);
}

.bottom img {
    width: 18px;
    padding-right: 5px;
}

.bottom a {
    font-size: 14px;
}

@media screen and (max-width: 650px) {
    .Footer, .Socials {
        align-items: center;
        gap: 20px;
    }

    .Footer {
        padding: 40px 60px;
    }
}