@import "../../../vars.css";

.banner {
    position: relative;
    padding-bottom: 60px;
    max-width: 1500px;

    margin: auto;
}

.bannerImage {
    width: 100%;
    height: auto;

    object-fit:cover;
    
}

.other {
    width: 30vw;
    max-width: 350px;
    min-width: 120px;

    padding-top: 3vw;
    position: absolute;
  
    right: 8vh;
}

@media screen and (max-width: 650px) {
    .banner {
        padding-bottom: 40px;
    }
}
