body {
  background-color: white;
  background-image: url("/dist/assets/background.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: contain;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}
