body {
  /* background: url("/public/assets/background.png"); */
  background-color: rgb(255, 255, 255);
  background-repeat: repeat;
  background-size: 70vw;
}

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 18px;
}
