:root {
    /* colors */
    --color-text: #5D5552;
    --color-box: lightgray;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;

    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    /* fonts */
    --font-robot: "Roboto";
}