@import "../../../vars.css";

.header {
    padding: 0 120px; 
}

.ProjectTitle {
    color: var(--color-text-light);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 30px;
}

h2 {
    color: var(--color-text);
    padding-left: 10px;
}

.desc {
    color: var(--color-text-light);
}

.banner {
    padding: 56px 0;
    width: 100%;
    height: auto;
    max-height: 850px;
    object-fit:cover;
}
