@import "../../vars.css";

.container {
    padding: 80px 150px;
    width: 100%;
    margin: auto;
    font-size: 20px;
    color: var(--color-text-light);
    display: flex;
    gap: 50px;
}

.text {
    color: #5f5f5f;
}

.me {
    
    padding-top: 30px;
    object-fit: scale-down;
    max-height: 500px;
    width: 25vw; 

    display: block;
    margin: auto;

}

@media screen and (max-width: 900px) {
    .container {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 650px) {
    .container {
        padding: 80px 70px;
    }
}

