@import "../../vars.css";

.Projects {
    width: 100%;
    height: fit-content;

    color: var(--color-text);
    padding: 0 50px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 60px;

    align-items: center;

}

.wrapper {
    align-self: center;
}

.drawings {
    
    max-width: 960px;

    display: flex;
    flex-direction: row;

}

.drawings img{
    max-width: 500px;
    padding: 20px;
    object-fit: contain;
    width: 40vw;
    margin: auto;
}

.imgDesc {
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}

.car {
    max-width: 960px;
    width: 80vw;
    padding: 20px 50px;
    object-fit: contain;


}





